@import url('https://fonts.googleapis.com/css2? family= Carlito & family= Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800 & display=swap');



body {
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
    width: 8%;
    opacity: 1;
}


.carousel-indicators {
    bottom: -2.5rem;
}

.header-info {
    display: flex;
    padding-right: 1rem;
}

.header-txt {
    display: grid;
    align-items: center;
    width: 100%;
}

.header-txt h2 {
    font-size: 5vw;
    color: #fff;
    text-transform: capitalize;
}

.header-img {
    width: 50%;
}

.imagen-de-fondo {
    background-image: url('./images/perfume1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vw;
    width: 50vw;
    max-width: 570px;
    max-height: 570px;
}


.imagen-de-fondo2 {
    background-image: url('./images/perfume2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vw;
    width: 50vw;
    max-width: 570px;
    max-height: 570px;
}

.imagen-de-fondo3 {
    background-image: url('./images/prefume3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vw;
    width: 50vw;
    max-width: 570px;
    max-height: 570px;
}


.body-container img {
    width: 500px;
}

.header-content img {
    width: 500px;
}

.prices {
    display: flex;
    justify-content: end;
    gap: 0.4rem;
    margin-bottom: 0rem;
}

.prices2 {
    display: flex;
    justify-content: start;
    gap: 0.4rem;
    margin-bottom: 0rem;
}

.price-1 {
    font-size: 3vw;
    color: #747b8f;
    text-decoration-line: line-through;
    margin-bottom: 0rem;
}

.price-2 {
    font-size: 3vw;
    color: #7270EC !important;
    margin-bottom: 0rem;
}

.btn-1 {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #7270EC;
    color: #fff;
    font-size: 2.3vw;
    border-radius: 25px;
    margin-top: 0.5rem;
}

.btn-1:hover {
    background-color: #8785f5;
}

hr {
    border: 1px solid #7a7b8f16;
}

.promos {
    padding: 50px 0;
    text-align: center;
}

.promos h3 {
    font-size: 50px;
    color: #fff;
    margin-bottom: 35px;
}

.categories {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
}

.categorie {
    display: flex;
    align-content: center;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 15px;
}

.categorie img {
    width: 150px;
}

.categorie-1 {
    width: 50%;
}

.categorie-1 h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.categorie-1 p {
    color: #747b8f;
    font-size: 18px;
}

.categorie-img {
    width: 50%;
}

.product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#accordionExample {
    padding: 2.4rem;
}

.accordion-item {
    background-color: #747b8f;
}

.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

#accordionExample {
    padding: 1rem;
}

/*minuto 59:24*/